<!DOCTYPE html>
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Refenue</title>
    <link rel="stylesheet" href="../css/bootstrap.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <body ng-app="RefenueApp">
      <div class="container">
          <div class="header clearfix">
            <nav>
              <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active"><a href="#">About Us</a></li>
                <li role="presentation"><a href="/stats">Referral stats</a></li>
                <li role="presentation"><a href="/payment_history">Payments</a></li>
                <li role="presentation"><a href="#">Settings</a></li>
              </ul>
            </nav>
            <h2 class="text-primary titleText">refenue</h2>
            <span class="text-muted">Monetize your audience</span>
          </div>

      <div class="row">
        <div class="col-lg-2">
            <div>
                <img src="{{app.profilePic}}" class="profilepic" alt="yogatailor" />
            </div>
            <div class=".userName"> {{ app.title }} </div>
            <div  ng-controller="RatingCtrl">
				<input type="text" id="rateValue" value="{{app.ratings}}" class="hide">
                 <rating ng-model="rate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" ></rating>
                <br> {{app.ratings}} Stars, {{ app.reviews }} ratings
            </div> 
        </div>

        <div class="col-lg-10">
            <h4>{{app.heading}}</h4>
            <ul>
			    {{#app.description}}
				<li>{{.}}</li>
				{{/app.description}}
            </ul>   
			<br><br>
			<div class="pull-right" ng-controller="appLinkCtrl">
				<div id="appLinkDisplay">
					<input type="text" id="appLink" style="width:200px;" ng-model="appLink" readonly>
				</div>
				<div id="appLinkG" class="hide">
					<button type="submit" ng-click="genLink()" class="btn btn-default">Generate Link</button>
				</div>
			</div>
			<br><br>
			   <div class="row" >
			    {{#app.screenshots}}
				<div class="col-xs-6 col-md-4"><img src="{{.}}" class="screenshots" /></div>
				{{/app.screenshots}}
            </div>  
                  </div>
      </div>

    </div> <!-- /container -->

      <footer class="footer">
        <p>&copy; refenue 2015</p>
      </footer>
	<script lang="javascript" src="../javascripts/angular.min.js"></script>
    <script lang="javascript" src="../javascripts/ui-bootstrap-tpls-0.13.0.js"></script>
    <script lang="javascript" src="../javascripts/rating.js"></script>
    <script lang="javascript" src="../javascripts/main.js"></script>
	 <script lang="javascript">
		var appId = '{{ app.appId }}';
		var username = 'yaseen';
	 </script>
    </body>
</html>