<!DOCTYPE html>
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Refenue</title>
    <link rel="stylesheet" href="css/bootstrap.css" />
    <body>
		{{message}}
	</body>
</html>	
	

<!-- 
extends layout

block content
  h1= message
  h2= error.status
  pre #{error.stack}
-->