<!DOCTYPE html>
<html>
    <head>
		<title></title>
		<meta http-equiv="content-type" content="text/html; charset=UTF8">
		<title>Refenue: Revenues</title>
		<link rel="stylesheet" href="/css/bootstrap.css" />
		<link rel="stylesheet" href="/css/style.css" />
	</head>	
    <body ng-app="RefenueApp">

      <div class="container"  ng-controller="paymentsCtrl">
          <div class="header clearfix">
            <nav>
              <ul class="nav nav-pills pull-right">
                <li role="presentation"><a href="#">About Us</a></li>
                <li role="presentation"><a href="#">Referral stats</a></li>
                <li role="presentation" class="active"><a href="#">Payments</a></li>
                <li role="presentation"><a href="#">Settings</a></li>
              </ul>
            </nav>
            <h2 class="text-primary titleText">refenue</h2>
            <span class="text-muted">Monetize your audience</span>
          </div>
		  <div class="row">
				<div class="col-xs-6 col-md-4">
					<div class="lead">Payment stats</div>
					<br> Your next payment of ${{paymentHeader.pendingCash}} will be mailed out on <span id="NPayment"></span>
<br><br><br><br> 
				</div>				
				<div class="col-xs-6 col-md-4">
						<div class="form-group">
						  <label class="col-sm-2 control-label">From</label>
						  <div class="col-sm-10">
							<p class="input-group">
								<input type="text" class="form-control" datetime-picker="dd MMM yyyy" ng-model="dates.date1" is-open="open.date1" enable-time="false" max-date="dates.date2" />
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="openCalendar($event, 'date1')"><i class="glyphicon glyphicon-calendar"></i></button>
								</span>
							</p>
						  </div>
						</div>	
				</div>
				<div class="col-xs-6 col-md-4">  						
						<div class="form-group">
						  <label class="col-sm-2 control-label">To</label>
						  <div class="col-sm-10">
							<p class="input-group">
								<input type="text" class="form-control" datetime-picker="dd MMM yyyy" ng-model="dates.date2" is-open="open.date2" enable-time="false" min-date="dates.date1" />
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="openCalendar($event, 'date2')"><i class="glyphicon glyphicon-calendar"></i></button>
								</span>
							</p>
						  </div>
						</div>
		</div>
	</div>
<div class="panel panel-default">
    <table class="table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody ng-bind-html="payments_tbody">
			
        </tbody>
      </table>
</div>    	
    </div> <!-- /container -->
			
      <footer class="footer">
        <p>&copy; refenue 2015</p>
      </footer>
	  <script language="javascript">
	  var payments = [
			{{#appRevenues}}
				{
					date: {{date}},
					amount: {{amount}}
				},
			{{/appRevenues}}
		];
		
		var	nextPayment = {{paymentHeader.nextPayment}};
		var nextPaymentVal = new Date(nextPayment).toDateString()
		document.getElementById("NPayment").innerHTML = nextPaymentVal;
	  </script>
	<script src="/javascripts/angular.min.js"></script>
	<script lang="javascript" src="/javascripts/ui-bootstrap-tpls-0.13.0.js"></script>
	<script lang="javascript" src="/javascripts/datetime-picker.js"></script>
	<script lang="javascript" src="/javascripts/revenues.js"></script>
    </body>
</html>