<!DOCTYPE html>
<html>
    <head>
		<title></title>
		<meta http-equiv="content-type" content="text/html; charset=UTF8">
		<title>Refenue</title>
		<link rel="stylesheet" href="/css/bootstrap.css" />
		<link rel="stylesheet" href="/css/style.css" />
		<link rel="stylesheet" href="/css/nv.d3.css" />
	</head>	
    <body ng-app="RefenueApp">
      <div class="container">
          <div class="header clearfix">
            <nav>
              <ul class="nav nav-pills pull-right">
                <li role="presentation"><a href="#">About Us</a></li>
                <li role="presentation" class="active"><a href="#">Referral stats</a></li>
                <li role="presentation"><a href="#">Payments</a></li>
                <li role="presentation"><a href="#">Settings</a></li>
              </ul>
            </nav>
            <h2 class="text-primary titleText">refenue</h2>
            <span class="text-muted">Monetize your audience</span>
          </div>
		  <div class="row">
				<div class="col-xs-6 col-md-4"></div>
				<div class="col-xs-6 col-md-4">
							
				</div>
				<div class="col-xs-6 col-md-4">  
						<form class="form-horizontal" ng-controller="datePickerCtrl">
						<div class="form-group">
						  <label class="col-sm-2 control-label">From</label>
						  <div class="col-sm-10">
							<p class="input-group">
								<input type="text" class="form-control" datetime-picker="dd MMM yyyy" ng-model="dates.date4" is-open="open.date4" enable-time="false" max-date="dates.date5" />
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="openCalendar($event, 'date4')"><i class="glyphicon glyphicon-calendar"></i></button>
								</span>
							</p>
						  </div>
						</div>
						<div class="form-group">
						  <label class="col-sm-2 control-label">To</label>
						  <div class="col-sm-10">
							<p class="input-group">
								<input type="text" class="form-control" datetime-picker="dd MMM yyyy" ng-model="dates.date5" is-open="open.date5" enable-time="false" min-date="dates.date4" />
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="openCalendar($event, 'date5')"><i class="glyphicon glyphicon-calendar"></i></button>
								</span>
							</p>
						  </div>
						</div>
					
					  </form>
		  </div>
	</div>
	
	
	<div class="row">
	<div class="col-xs-6 col-md-2"></div>
		<div class="col-xs-6 col-md-2">
			<div class="form-group">
				<p class="input-group">
					<input type="radio" name="appName" value="all" checked>&nbsp; All apps<br><br>
					{{#appinsalls}}
					<input type="radio" name="appName" value="{{appId }}">&nbsp; {{appId }}<br><br>
					{{/appinsalls}}
				</p>
			</div>
		</div>	
		<div class="col-md-8">
			<div id="chart">
					  <svg></svg>
			</div>		
		</div>	
	</div>		
		  
     
    </div> <!-- /container -->
			
      <footer class="footer">
        <p>&copy; refenue 2015</p>
      </footer>
	<script src="/javascripts/angular.min.js"></script>
	<script lang="javascript" src="/javascripts/ui-bootstrap-tpls-0.13.0.js"></script>
	<script lang="javascript" src="/javascripts/datetime-picker.js"></script>

    <script src="/javascripts/d3.js"></script>
    <script src="/javascripts/nv.d3.js"></script>
	
	<script lang="javascript" src="/javascripts/stats.js"></script>
	
	
	  <script language="javascript">
	  var apps = [
					{{#appinsalls}}
						'{{appId }}',
					{{/appinsalls}}	
				]
				
	var installsObj = {
			{{#appinsalls}}
			
				"{{appId }}":
				{
					 "installs":[ {{installs}}],
					 "clicks": [{{ clicks}}]
				},
				
			{{/appinsalls}}
	};
	var dataInstalls = [{{#appinsalls}} {{installs}}, {{/appinsalls}}]
	var dataClicks = [{{#appinsalls}} {{clicks}}, {{/appinsalls}}]
	var data = []
	
	var drawGraph = function(t1,t2){
		var InstallsData = 	sortdata(dataInstalls);
		var DaataInstalls = [];
		var DaataILength = InstallsData.length
		for ( var k = 0; k < (InstallsData[0].length-1); k++ ) {
				if(InstallsData[DaataILength-2][k] >= t1 && InstallsData[DaataILength-2][k] <= t2)
					DaataInstalls.push([InstallsData[DaataILength-2][k],InstallsData[DaataILength-1][k]])
		}
		
		var clicksData = 	sortdata(dataClicks);
		var DaataClicks = [];
		var DaataLength = clicksData.length
		for ( var l = 0; l < (clicksData[0].length-1); l++ ) {
			if(clicksData[DaataLength-2][l] >= t1 && clicksData[DaataLength-2][l] <= t2)
				DaataClicks.push([clicksData[DaataLength-2][l],clicksData[DaataLength-1][l]])
		}
		
		data = [
		  {
			"key": "Clicks",
			"values": DaataClicks
		  },
		  {
			"key": "Installations",
			"values": DaataInstalls
		  }
	  
		] 
	 
		reDraw();
	}	
	drawGraph();
	</script>
    </body>
</html>