body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.screenshots{
	width:100px;
	height:100px;	
}

#chart svg {
  height: 300px;
}

.profilepic{
	width:100px;	
}