<!DOCTYPE html>
<meta charset="utf-8">
<html>
<head>
    <title></title>
    <meta http-equiv="content-type" content="text/html; charset=UTF8">
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/nv.d3.css"/>
	
	
	<script src="javascripts/angular.min.js"></script>
	<script lang="javascript" src="javascripts/ui-bootstrap-tpls-0.13.0.js"></script>
	<script lang="javascript" src="javascripts/datetime-picker.js"></script>

    <script src="javascripts/d3.js"></script>
    <script src="javascripts/nv.d3.js"></script>
	
	<script lang="javascript" src="javascripts/stats.js"></script>

	<style>
	.form-horizontal {
   width:500px;
}
	
	</style>
	
</head>
<body  ng-app="RefenueApp">



<form class="form-horizontal" ng-controller="datePickerCtrl">
        <div class="form-group">
          <label class="col-sm-2 control-label">From</label>
          <div class="col-sm-10">
            <p class="input-group">
                <input type="text" class="form-control" datetime-picker="dd MMM yyyy" ng-model="dates.date4" is-open="open.date4" enable-time="false" max-date="dates.date5" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="openCalendar($event, 'date4')"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">To</label>
          <div class="col-sm-10">
            <p class="input-group">
                <input type="text" class="form-control" datetime-picker="dd MMM yyyy" ng-model="dates.date5" is-open="open.date5" enable-time="false" min-date="dates.date4" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="openCalendar($event, 'date5')"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Difference</label>
          <div class="col-sm-10">
            <p class="form-control-static">{{ dayRange }} (days)</p>
          </div>
        </div>
      </form>

	  <br><br><br>
	  
<div id="chart">
  <svg></svg>
</div>
</body>
</html>