<!DOCTYPE html>
<html ng-app="RefenueApp">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Refenue: Register</title>
	<link rel="stylesheet" href="css/bootstrap.css" />
	<script src="javascripts/angular.min.js"></script>
	<script lang="javascript" src="javascripts/ui-bootstrap-tpls-0.13.0.js"></script>
		<script lang="javascript" src="javascripts/datetime-picker.js"></script>

	<script src="controllers/controller.js"  type="text/javascript"></script>
<body>
<br>
<div class="container" ng-controller="AppCtrl">
<div class="row">
	<div class="col-md-6">
	<div class="lead"> Create an account</div>
	  <div class="form-group" >
		<div class="input-group">
		  <input type="text" class="form-control" id="text" placeholder="User name" ng-model="user.username">
		</div>
	  </div>
	  
	  <div class="form-group">
		<div class="input-group">
		  <input type="password" class="form-control" id="password" placeholder="Password" ng-model="user.password">
		</div>
	  </div>
	 
	  <div class="form-group">
		<div class="input-group">
		<button type="submit" ng-click="addUser()" class="btn btn-default">Add user</button>
		</div>
	  </div>
	  <div class="lead"> Delete an account</div>
	  <div class="form-group">
		<div class="input-group">
		  <input type="text" class="form-control" id="deleteuser" placeholder="User name" ng-model="user.deleteuser">
		</div>
	  </div>
	 
	  <div class="form-group">
		<div class="input-group">
		<button type="submit" ng-click="deleteUser()" class="btn btn-default">Delete user</button>
		</div>
	  </div>
<br>
	<div class="lead"> Add an App</div>

	 <div class="form-group">
		<div class="input-group">
		  <input type="text" class="form-control" id="appname" placeholder="App Title" ng-model="app.title">
		</div>
	  </div>
	 
	 <div class="form-group">
		<div class="input-group">
		  <input type="text" class="form-control" id="appimage" placeholder="App Profile Pic" ng-model="app.profilePic">
		</div>
	  </div>
	  
	  <div class="form-group">
		<div class="input-group">
		  <input type="text" class="form-control" id="appimage" placeholder="Pay per click" ng-model="app.clickpay">
		</div>
	  </div>
	  
	   <div class="form-group">
		<div class="input-group">
		  <input type="text" class="form-control" id="appimage" placeholder="Pay per download" ng-model="app.downloadpay">
		</div>
	  </div>
	  
	  <div class="form-group">
		<div class="input-group">
		<button type="submit" ng-click="addApp()" class="btn btn-default">add app</button>
		</div>
	  </div>
	  
</div>
<div class="col-md-6">
	<div id="appInstalls">
	<div class="lead"> Add clicks &amp; installs data</div>

	<div class="form-group" >
		<div class="input-group">
		  <input type="text" class="form-control" id="appId_install" placeholder="appId" ng-model="appinstall.appId">
		</div>
	  </div>
	  
	  <div class="form-group">
		<div class="input-group">
		  <input type="text" class="form-control" id="userId_install" placeholder="uname" ng-model="appinstall.uname">
		</div>
	  </div>
	
	<div class="row">
			<div class="col-md-6">
				<div class="form-group">
				  <label class="col-sm-2 control-label">Clicks</label>
				  <div class="col-sm-10">
					<p class="input-group">
						<input type="text" class="form-control" datetime-picker="dd MMM yyyy" ng-model="dates.clicks" is-open="open.clicks" enable-time="false" min-date="dates.clicks" />
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="openCalendar($event, 'clicks')"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
					</p>
				  </div>
				</div>
			</div>
			
			<div class="col-md-6">
				<div class="form-group">
				  <label class="col-sm-2 control-label">Installs</label>
				  <div class="col-sm-10">
					<p class="input-group">
						<input type="text" class="form-control" datetime-picker="dd MMM yyyy" ng-model="dates.installs" is-open="open.installs" enable-time="false" min-date="dates.installs" />
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="openCalendar($event, 'installs')"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
					</p>
				  </div>
				</div>
			</div>	
		</div>
		  <div class="form-group">
			<div class="input-group">
			<button type="submit" ng-click="updateInstalls()" class="btn btn-default">Update Installs</button>
			</div>
		  </div>
	</div>
	
	<br> <br>
	
<div id="appInstalls">
		<div class="lead">Add payments history</div>

	  <div class="form-group">
		<div class="input-group">
		  <input type="text" class="form-control" id="userId_payments" placeholder="uname" ng-model="payments.uname">
		</div>
	  </div>
	
	<div class="form-group">
		<div class="input-group">
		  <input type="text" class="form-control" id="amount_payments" placeholder="Amount" ng-model="payments.amount">
		</div>
	  </div>
	
	<div class="row">
		<div class="col-md-8">
			<div class="form-group">
			  <label class="col-sm-2 control-label">Payment date</label>
			  <div class="col-sm-10">
				<p class="input-group">
					<input type="text" class="form-control" datetime-picker="dd MMM yyyy" ng-model="dates.payment" is-open="open.payment" enable-time="false" min-date="dates.payment" />
					<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="openCalendar($event, 'payment')"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
				</p>
			  </div>
			</div>
		</div>
	</div>
		
	  <div class="form-group">
		<div class="input-group">
		<button type="submit" ng-click="updatePayments()" class="btn btn-default">Update Payments </button>
		</div>
	  </div>
 </div>
	<br> <br>
	
	<br> <br>
	
<div id="paymentdetails">
		<div class="lead"> update account details</div>

	  <div class="form-group">
		<div class="input-group">
		  <input type="text" class="form-control" id="uheaders_username" placeholder="user name" ng-model="uheaders.username">
		</div>
	  </div>
	
	<div class="form-group">
		<div class="input-group">
		  <input type="text" class="form-control" id="uheaders_clearedCash" placeholder="Cleared cash" ng-model="uheaders.clearedCash">
		</div>
	  </div>
	
	<div class="form-group">
		<div class="input-group">
		  <input type="text" class="form-control" id="uheaders_pendingCash" placeholder="pending cash" ng-model="uheaders.pendingCash">
		</div>
	  </div>

	  <div class="row">
		<div class="col-md-8">
			<div class="form-group">
			  <label class="col-sm-2 control-label">next Payment date</label>
			  <div class="col-sm-10">
				<p class="input-group">
					<input type="text" class="form-control" datetime-picker="dd MMM yyyy" ng-model="dates.uheaders" is-open="open.uheaders" enable-time="false" />
					<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="openCalendar($event, 'uheaders')"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
				</p>
			  </div>
			</div>
		</div>
	</div>
		
	  <div class="form-group">
		<div class="input-group">
		<button type="submit" ng-click="updateHeaders()" class="btn btn-default">Update headers </button>
		</div>
	  </div>
 </div>
	
  </div>
  </div>
   </div>
	
</body>
</html>